
.button {
    background: linear-gradient(90deg, #fe9400 35%, #ffc472 100%);
    width: 217.77px;
    height: 43.95px;
    border-radius: 30px 30px 30px 30px;
  
    font-family: Lalezar;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Lalezar;
  font-weight: 400px;
  }