@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&family=Nova+Mono&display=swap");

body {
  padding: 0%;
  margin: 0%;
}

.content {
  background: rgba(0, 35, 112, 1);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:1368px;
}
.inside-content {
  background: linear-gradient(90deg, #103482 0%, #030b1c 99.99%);
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 35, 112, 1);
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 50px 50px;
  width: 1380px;
  height: 458px;
  
}



img {
  width: 467px;
  height: 393px;
  border-radius: 38px 38px 38px 38px;
  opacity: 0px;
  margin-left: 140px;
}



.about-us-image{
    background-image: url(pictures/about_us_pic.jpeg);
    background-position: center;
    background-size: cover;
    width: 1418px;
    height: 750px;
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
